body{
    background-color: darkcyan;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

button{
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}