body{
    background-color: darkcyan;
}
h1{
    color:white;
}
p1{
    color: white;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#result {
    margin-top: 20px;
}

button{
    width: 150px;
    height: 40px;
    background-color: cornflowerblue;
    color: white;
    border: 2px solid;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
}