body {
    background-color: white;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h4 {
    color: black;
    text-align: left;
}

button{
    background-color: #6de349;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: black;
    font-size: 20px;
}

.container {
    text-align: left;
}

.reveal-btn {
    width: 150px;
    height: 50px;
    background-color: lightgreen;
    color: black;
    border: 2px solid;
    font-size: 15px;
    border-radius: 8px;
    margin: 10px 0;
}

.hidden-text {
    display: none;
    color: black;
    font-size: 18px;
    margin-top: 10px;
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 40px;
    }
}

.apk-btn {
    background-color: lightgreen;
    color: black;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
}

.apk-btn:hover {
    background-color: lightblue;
}

* {
    text-decoration: none;
}

.navbar {
    background: #6de349;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: white;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 25px;
}

li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

li a:hover {
    color: lightblue;
}

.navbar button {
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
    border: none;
    cursor: pointer;
}

.navbar button a {
    color: white;
    font-weight: bold;
}

.navbar button:hover {
    background-color: darkgreen;
}

.column {
    float: left;
    padding: 10px;
    width: 33.33%;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display:table;
    clear: both;
}

.features {
    clear: both;
    padding: 10px;
}